/* css styles */
.callout-note {
  margin-top: 0; /* 1.25rem by default */
  margin-bottom: 0; /* 1.25rem by default */
}

a:link { 
  text-decoration: none; 
} 

break{
  flex-basis: 100%;
  width: 0; 
  height: 0; 
  overflow: hidden;
}
